
	<div id="middle">
		<div id="content">
			<div id="moto_big">Gain Knowledge, Awareness & Clarity</div>
			<div id="moto_small">Plant the seeds of your future career success</div>
			<div id="whattodo">What We Do</div>
		</div>

		<%= image_tag("home/home_middlePhoto.jpg", id: "image") %>
	</div>

	<div id="bottom">
		<div id="events">
			<a href="events.html">Events</a>
			<p>Coaching Circle | Skills | Experience </p>
      <%= image_tag("home/home_eventsPhoto", id: "eventsPhoto") %>
      </a>
		</div>

		<div id="videos">
			<a href="videos.html">Professions
			<p>Career | Industries | Companies </p>
      <%= image_tag("home/home_videosPhoto", id: "eventsPhoto") %>
      </a>
		</div>

		<div id="mentorship">
			<a href="http://www.growthbeans.com/education/login/index.php" target="_blank">Mentorship
			<p>Connect with Industry Professionals</p>
      <%= image_tag("home/home_mentorshipPhoto", id: "eventsPhoto") %>
      </a>
		</div>

		<div id="inthenews">
			<a href="inTheNews.html">In the News
			<p>Contact Us</p>
      <%= image_tag("home/home_inthenewsPhoto", id: "eventsPhoto") %>
      </a>
		</div>

	</div>

</div>
