<p id="notice"><%= notice %></p>

<p>
  <strong>Date time image name:</strong>
  <%= @event.date_time_image_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @event.speaker %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Register link:</strong>
  <%= @event.register_link %>
</p>

<p>
  <strong>Poster image name:</strong>
  <%= @event.poster_image_name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
